/* #### * #### */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
}


/* #### Header #### */
#header {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
    border: solid 0.1em grey;
    border-radius: 2em;
}

#logoNavBar {
    max-width: 10em;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 0 1em;
    text-decoration: none;
    color: grey;
}


/* #### HAUT #### */
.haut{
    background-image: url(images/Pokemon-fond-ecran-wallpaper-hd-4k-7.jpg);
    background-size: cover; /* Assurez-vous que le fond s'ajuste correctement */
    height: 28em;
    display: flex;
    justify-content: center; /* Aligner horizontalement */
    align-items: flex-start; /* Aligner verticalement en haut */
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 170px; /* Ajustez la marge supérieure selon vos besoins */
    filter: drop-shadow(30px 10px 4px #262627);
}


/* #### MILIEU #### */
.milieu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(images/fond-milieu.jpg);
    height: 1000px;
    background-color: #4374ac;
    background-size: cover; /* Assurez-vous que le fond s'ajuste correctement */
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 900px;
    border-radius: 20px;
    width: 90%;

    margin: 0 auto; /* Ajoutez cette règle pour centrer horizontalement */
}



/* #### BAS #### */