/* #### CAROUSEL #### */

.carousel{
    background-image: url(../images/fond_collection.jpg);
    background-size: cover;
    background-position: bottom;
    width: 160vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

.slider{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(20px 7px 10px #202020);
}

.item{
    display: flex;
    justify-content: center;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
}

.item > img {
    height: 800px;
}

@media screen and (max-width: 823px) {
    .item > img{
        height: unset;
        width: 100%;
    }
}

#next, #prev{
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 4em;
    font-family: monospace;
    font-weight: bold;
}
