#searchTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuPokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.newDivPokedex {
    margin: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/rouge.avif);
    border-radius: 0.5em;
}

.pokedexName {
    font-size: 1.2em;
}

.pokedexName, .pokemonCategory {
    color: white;
}

.pokemonImage {
    width: 8em;
    height: 8em;
    display: flex;
}