/* #### * #### */
@font-face {
    font-family: 'Cartoonist Hand';
    src: url(../fonts/SF_Cartoonist_Hand_SC-webfont.woff);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light-webfont.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

nav, h1, #menu {
    font-family: 'Cartoonist Hand', sans-serif;
}



/* #### Header #### */
#header {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
    border: solid 0.1em grey;
    border-radius: 2em;
}

#logoNavBar {
    max-width: 10em;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 0 1em;
    text-decoration: none;
    color: grey;
}

#burger-menu, #menu {
    display: none;
}

@media screen and (max-width: 767px) {
    #logoNavBar {
        max-width: 14em;
        height: 5em;
        display: block;
        margin: auto;
    }
    
    nav {
        display: none;
    }

    #burger-menu {
        display: flex;
        cursor: pointer;
        height: 27px;
        width: 27px;
        margin: auto;
        overflow: visible;
        position: relative;
        z-index: 2;
    }

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
        background: grey;
        display: block;
        height: 2px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
    }

    #burger-menu span:before,
    #burger-menu span:after {
        content: "";
    }

    #burger-menu span:before {
        left: 0px;
        top: -10px;
        width: 27px;
    }

    #burger-menu span {
        right: 0px;
        top: 13px;
        width: 27px;
    }

    #burger-menu span:after {
        left: 0px;
        top: 10px;
        width: 27px;
    }

    #burger-menu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
    }

    #burger-menu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
    }

    #burger-menu.close span:after {
        top: 0px;
        left: 0;
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
    }

    #menu {
        display: flex;
        z-index: 1;
        min-width: 50%;
        min-height: 70%;
        position: fixed;
        justify-content: center;
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top: 20px;
        transition: all 0.3s ease-in-out;
        border-radius: 4em;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    #menu.overlay {
        padding-top: 2em;
        visibility: visible;
        opacity: 1;
        background: rgba(0, 0, 0, 0.85);
    }
    #menu ul {
        padding: 0;
    }
    #menu li {
        list-style: none;
    }
    #menu a {
        color: grey;
        display: block;
        font-size: 32px;
        margin-bottom: 30px;
        text-decoration: none;
    }
}




/* ----------- Thibault ----------- */

/* #### HAUT #### */
.haut{
    background-image: url(../images/Pokemon-fond-ecran-wallpaper-hd-4k-7.jpg);
    background-size: cover;
    height: 28em;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    filter: drop-shadow(20px 10px 4px #262627);
}
@media screen and (max-width: 823px) {
    .logo > img{
        height: unset;
        width: 100%;
    }
}

/* #### MILIEU #### */

.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;
}

.search{
    margin:8px;
}
     
.search button{
    background-color: #686868;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.milieu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/fond-milieu.jpg);
    background-color: #4374ac;
    background-size: cover;
}

.menu {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 10px;
    height: auto;
    border-radius: 20px;
    border: 4mm ridge rgba(109, 109, 105, 0.6);
    width: 90%;
    margin: 0 auto; 

}

.menu > p {
    font-size: x-large;
}

.pokedex{
    background-image: url(../images/rouge.avif);
}

.collection {
    background-image: url(../images/vert.jpg);
}

.histoire{
    background-image: url(../images/jaune.jpg);
}


.pokedex, .collection, .histoire {
    height: 400px;
    width: 700px;
    display: flex;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    background-size: cover;
    border-radius: 20px;
}

.texte-menu{
    font-size: large;
    color: #fff;
}

.image{
    max-width: 200px;
    filter: drop-shadow(20px 7px 10px #202020);
}

h1{
    font-size: xx-large;
}

/* #### FOOTER #### */

.footer{
    background-image: url(../images/Pokemon-fond-ecran-wallpaper-hd-4k-7.jpg);
    background-size: cover;
    background-position: bottom;
}

.reseau{
    background-position: left;
    color: #fff;
    font-size: 3em;
    padding: 35px;
}
/* #### HISTOIRE #### */

/* #### CAROUSEL #### */

.carousel{
    background-image: url(../images/fond_collection.jpg);
    background-size: cover;
    background-position: bottom;
    width: 160vh;
    margin: 0;
    display: flex;
    justify-content: center;
}
.slider{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.item{
    display: flex;
    justify-content: center;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
}
.item > img {
    height: 800px;
}
@media screen and (max-width: 823px) {
    .item > img{
        height: unset;
        width: 100%;
    }
}
#next, #prev{
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 4em;
    font-family: monospace;
    font-weight: bold;
}
